body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: 15rem auto 15rem;
    padding: 10px;
}

.grid-item {
    background-color: #b5179e;
    border: 1px solid white;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.activity {
    border: 1px solid green;
    padding: 15px;
}

.btn {
    background-color: #b5179e;
    color: white;
    border: 1px solid #ff7900;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}

.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: #ff6961;
    color: white;
}

.future {
    background-color: #77dd77;
    color: white;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
